.sidebar {
	margin-left: 2rem;
}

.sidebar-content {
	padding: 2rem;
	margin: 0;
	width: 100%;
	border-radius: 1rem;
	color: white;
	justify-self: center;

	p {
		color: white;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.8rem;
		text-decoration: underline;
	}

	li {
		margin-bottom: 1rem;
	}
}

.sidebar-btn {
	background-color: rgba(166, 166, 166, 0.286);
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.sidebar-btn:hover {
	cursor: pointer;
	background-color: rgba(227, 227, 227, 0.498);
}
