nav {
    display: flex;
    margin: 30px 4vw;

    input {
        box-sizing: border-box;
        width: 20rem;
        padding-left: 1.5rem;
        border-radius: 0;
        border: 2px solid #23262d;
        font-family: 'Space Mono', monospace;
    }

    button {
        font-family: 'Space Mono', monospace;
    }

    select {
        font-family: 'Space Mono', monospace;
    }
}

section {
    display: grid;
    grid-template-columns: 1.25fr 5fr;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-column: 1 / span 2;
}

.sidebar-displayed {
    grid-column: 2 / span 1;
}

.disabled {
    background-color: red;
}

.search-btn {
    border: none;
    padding: 1rem;
}

.now-playing-btn {
    margin-left: 2rem;
    border: none;
}

.sort-selector {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search { 
    display: flex;
}

.load-more-btn {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-family: 'Space Mono', monospace;
}

.load-more-container {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

/* Star CSS  */

.star {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  border-radius: 50%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.favorited {
  background-color: rgba(236, 200, 0, 0.889);
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.sidebar-toggle {
    color: white;
    font-size: 2.75rem;
    align-self: center;
    margin-right: 3rem;

    &:hover {
        cursor: pointer;
    }
}

.watched-icon {
    padding: 0.9rem;
    margin: 0;
    border: none;
    border-radius: 1.5rem;
    font-family: 'Space Mono', monospace;
}

.watch-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}