.movie-card {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.movie-card img {
    width: 100%;
}

.movie-info {
    box-sizing: border-box;
    width: 100%;
    font-size: clamp(10px, 20px);
    padding: 10px;
}

.movie-poster {

}